.additional-catalog {
  display: flex;
  flex-direction: column;
  padding: 0 @mobile-padding;

  overflow: hidden;
}

.additional-catalog__title {
  position: relative;

  margin: 0;

  font-size: 24px;
  line-height: 24px;
  font-weight: normal;
  color: @color-main-text;

  &::after {
    content: "";

    position: absolute;
    top: 50%;
    left: 247px;

    width: 100vw;
    height: 3px;
    z-index: -1;

    background-color: @color-main;
  }
}

@media (min-width: @tablet-width) {
  .additional-catalog {
    margin-top: 67px;
    padding: 0 @tablet-padding;
  }

  .additional-catalog__title {
    width: 360px;
    padding-left: 37px;
    padding-right: 14px;

    font-size: @text-size--big;
    line-height: @text-height--big;

    background-color: #ffffff;
    box-sizing: content-box;

    &::after {
      top: 61%;
      left: -30px;
    }
  }
}

@media (min-width: @desktop-width) {
  .additional-catalog {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 1300px;
    padding: 0 40px;
    margin: 0 auto;
    margin-top: 75px;
  }

  .additional-catalog__title {
    padding-left: 0;
    margin-left: 0;

    &::after {
      top: 23px;
      left: -167px;
    }
  }
}
