.button {
  padding: 11px 0;

  text-align: center;
  font-size: @text-size--small;
  line-height: @text-height--small;
  color: #ffffff;
  text-transform: uppercase;

  background-color: @color-main;
  border: none;

  &:hover {
    background-color: #5eaa2f;
  }

  &:focus,
  &:active {
    color: rgba(255, 255, 255, 0.3);

    background-color: #5eaa2f;
  }

  &--to-all {
    padding: 10px 0;

    font-size: 16px;
    line-height: @text-height--medium;
    color: @color-description;
    text-transform: uppercase;
    text-align: center;

    background-color: @color-block--gray;
    border: none;

    &:hover {
      background-color: #ebebeb;
    }

    &:focus,
    &:active {
      color: rgba(68, 68, 68, 0.3);

      background-color: #ebebeb;
    }
  }
}

@media (min-width: @tablet-width) {
  .button {
    width: 245px;
    padding: 16px 0;

    font-size: @text-size--medium;
    line-height: @text-height--medium;
    text-align: center;

    &--to-all {
      padding: 10px 0;

      font-size: 16px;
      color: @color-description;
      text-transform: uppercase;
    }
  }
}
