.contact {
  position: relative;

  padding: 0 @mobile-padding;
  margin: 0;

  border: 0;

  &::after {
    content: "";
    position: absolute;
    top: 43px;
    left: 0;
    z-index: -1;

    width: 100vw;
    height: 3px;

    background-color: @color-main;
  }
}

.contact__title {
  width: 221px;
  padding-top: 31px;
  padding-right: 10px;
  padding-left: 18px;
  margin-left: -20px;
  margin-bottom: 32px;

  font-size: 24px;
  line-height: 24px;

  background-color: #ffffff;
}

.contact__list {
  min-height: 105px;
  padding: 0;
}

.contact__list .list-info__text {
  margin-right: 13px;
}

@media (min-width: @tablet-width) {
  .contact {
    padding: 0 @tablet-padding;
    margin-top: 44px;

    &::after {
      top: 53px;
    }
  }

  .contact__title {
    width: 592px;
    margin-left: 0;
    margin-bottom: 76px;
    padding-left: 39px;

    font-size: @text-size--big;
    line-height: @text-height--big;
  }

  .contact__list {
    min-height: 124px;
    padding: 0 36px;
  }

  .contact__list .list-info__text {
    margin-right: 20px;
    padding-left: 3px;
  }
}
