.development-site {
  min-height: 78px;
  width: 280px;
  margin: 0 auto;
}

.development-site__item {
  display: flex;
  justify-content: space-between;
  padding-top: 22px;
}

.development-site__item-text {
  padding-top: 7px;

  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 16px;
  color: @color-description;
}

.development-site__item-image {
  width: 27px;
  height: 34px;
}

.development-site__item-svg {
  fill: #666666;
}

.development-site__item:hover .development-site__item-svg {
  fill: @color-main;
}

.development-site__item:active {
  opacity: 0.3;
}

@media (min-width: @tablet-width) {
  .development-site {
    width: 164px;
    padding: 0;
    margin: 0;
    margin-left: auto;
    margin-top: 47px;
  }

  .development-site__item {
    padding-top: 0;
    margin-top: 13px;
  }

  .development-site__item-text {
    padding-top: 7px;
  }
}

@media (min-width: @desktop-width) {
  .development-site__item-text {
    padding-top: 12px;
  }

  .development-site__item-svg {
    margin-top: 5px;
  }
}
