.example {
  display: flex;
  flex-direction: column;

  width: 100%;
  background-color: @color-block--gray;
}

.example__container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 @mobile-padding;
}

.example__wrappers--description {
  min-height: 385px;
}

.example__wrappers--conclusion {
  min-height: 320px;
}

.example__title {
  margin: 0;
  margin-top: 18px;

  font-size: @text-size--big;
  line-height: @text-height--very-big;
  font-weight: normal;
}

.example__description {
  margin: 0;
  margin-top: 24px;
  margin-bottom: 27px;

  font-family: "Arial", sans-serif;
  color: @color-description;
}

.example__price {
  font-size: @text-size--small;
  line-height: @text-height--medium;
  text-transform: uppercase;
}

@media (min-width: @tablet-width) {
  .example {
    background-color: transparent;
  }

  .example__container {
    width: 708px;
  }

  .example__title {
    margin: 0;

    font-size: @text-size--very-big;
    line-height: @text-height--very-big;
  }

  .example__wrappers--description {
    min-height: 577px;
  }

  .example__wrappers--conclusion {
    min-height: 462px;
  }
}

@media (min-width: @desktop-width) {
  .example__container {
    flex-direction: row;
    justify-content: space-between;
    width: 1220px;
  }

  .example__title {
    margin-top: -135px;
    margin-bottom: 148px;
  }

  .example__wrappers--description {
    width: 500px;
    min-height: 462px;
  }

  .example__wrappers--conclusion {
    width: 610px;
  }
}
