.example {
  background-color: @color-block--gray;
}
.example__title {
  margin: 0;

  font-size: @text-size--big;
  line-height: @text-height--very-big;
  font-weight: normal;
}
.example__description {
  margin: 0;

  font-family: Arial;
  color: @color-description;
}
.example__result {
  padding: 0;

  font-size: 24px;
  line-height: 24px;
}
.example__objective {
  padding: 0;

  font-family: Arial;
  font-size: 12px;
  line-height: 12px;
}
.example__price {
  font-size: @text-size--small;
  line-height: @text-height--medium;
}
