.footer-down {
  background-color: @color-block--gray;
  width: 100%;
  min-height: 236px;
}

.footer-down__container {
  display: flex;
  flex-direction: column;
}

.footer-down__logo {
  width: 128px;
  height: 24px;
  margin: 0 auto;
  margin-top: 39px;
  margin-bottom: 33px;
}

.footer-down__logo:hover .footer-down__logo-image {
  opacity: 0.8;
}

.footer-down__logo:active .footer-down__logo-image {
  opacity: 0.6;
}

@media (min-width: @tablet-width) {
  .footer-down {
    min-height: 150px;
  }

  .footer-down__container {
    flex-direction: row;
    align-items: center;
    width: 100%;
    min-height: 150px;
    padding: 0 @tablet-padding;
    margin: 0 auto;
  }

  .footer-down__logo {
    margin: 0;
  }
}

@media (min-width: @desktop-width) {
  .footer-down__container {
    width: 1220px;
    min-height: 150px;
  }

  .footer-down__logo {
    margin-top: 69px;
  }
}
