.form__fieldset {
  position: relative;

  padding: 0 @mobile-padding;
  margin: 0;

  border: 0;
}

.form__wrapper--button {
  display: flex;
  flex-direction: column;
  padding: 0 @mobile-padding;
}

.form__button {
  width: 100%;
  padding: 10px 0;
  margin-top: 33px;

  font-size: 16px;
  line-height: @text-height--medium;
}

.form__legend {
  margin: 0 auto;
  margin-top: 22px;
  margin-bottom: 31px;

  font-family: "Arial", sans-serif;
  font-size: @text-size--small;
  line-height: 16px;
  color: @color-description;
}

@media (min-width: @tablet-width) {
  .form__wrapper {
    padding: 0 68px;
  }

  .form__wrapper--button {
    flex-direction: row;
    justify-content: space-between;
    width: 73%;
    padding: 0 20px;
    margin-left: 52px;
  }

  .form__button {
    width: 54.2%;
    padding: 16px 0;
    margin-top: 22px;

    font-size: @text-size--medium;
    line-height: @text-height--medium;
  }

  .form__legend {
    margin: 0;
    margin-top: 39px;

    font-size: 16px;
    line-height: 16px;
  }
}

@media (min-width: @desktop-width) {
  .form__wrapper {
    display: flex;
    justify-content: space-between;
    width: 1300px;
    padding: 0;
    padding-left: 38px;
    padding-right: 40px;
    padding-top: 67px;
    margin: 0 auto;
  }

  .form__button {
    width: 46.7%;
  }

  .form__wrapper--button {
    justify-content: flex-start;
    width: 1300px;
    padding: 0 41px;
    margin: 0 auto;
  }

  .form__legend {
    margin-left: 83px;
    margin-top: 38px;
  }
}
