.list-status {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;

  list-style: none;
}

.list-status__wrappers {
  display: flex;
  flex-direction: column;
  margin-top: 14px;
  margin-bottom: -10px;
  margin-left: 20px;
  margin-right: 20px;

  background-color: @color-block--gray;
}

.list-status__item {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: center;
  width: 125px;

  border: 1px solid #d9d9d9;
  border-radius: 5px;
}

.list-status__result {
  text-align: center;
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
}

.list-status__objective {
  padding-top: 9px;

  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 12px;
  text-transform: uppercase;
  text-align: center;
}

@media (min-width: @tablet-width) {
  .list-status__item {
    width: 162px;
  }

  .list-status__wrappers {
    background-color: transparent;
  }

  .list-status__result {
    font-size: 30px;
    line-height: 37px;
  }

  .list-status__objective {
    font-size: @text-size--small;
    line-height: 14px;
    color: @color-description;
  }
}
