.main-nav {
  display: flex;
  flex-direction: column;
}

.main-nav__toogle {
  position: absolute;
  top: 22px;
  right: 19px;

  width: 25px;
  height: 20px;
  padding: 0;

  border: none;
  background-color: transparent;
}

.main-nav__toogle:focus {
  outline: none;
}

.main-nav--closed .main-nav__toogle::before {
  content: "";

  position: absolute;
  top: 0;
  right: 0;

  width: 25px;
  height: 19px;

  background-image: url("../../img/icon-mobile-menu.svg");
}

.main-nav--opened .site-list {
  display: block;
}

.main-nav--opened .main-nav__toogle {
  &::after {
    content: "";

    position: absolute;
    top: 2px;
    right: 2px;

    width: 19px;
    height: 21px;

    background-image: url("../../img/icon-close.svg");
  }
}

@media (max-width: @mobile-width-only) {
  .main-nav--closed .site-list {
    display: none;
  }

  .main-nav--nojs .main-nav__toogle {
    display: none;
  }

  .main-nav--nojs .site-list {
    display: block;
  }
}

@media (min-width: @tablet-width) {
  .main-nav {
    flex-direction: row;
    margin: 0;
  }

  .main-nav__toogle {
    display: none;
  }
}
