.page-map {
  position: relative;

  display: flex;
  flex-direction: column;

  background-color: @color-block--gray;

  &::after {
    content: "";

    position: absolute;
    top: 1px;
    left: 1px;

    width: 55px;
    height: 53px;

    background-image: url("../../img/map-pin.png");
    background-size: contain;
  }
}

.page-map picture {
  margin: 0 auto;
}

.page-map__map {
  display: block;
  height: 362px;
}

@media (min-width: @tablet-width) {
  .page-map {
    margin-top: -3px;
  }

  .page-map__map {
    z-index: 1;

    height: 400px;
  }
}

@media (min-width: @desktop-width) {
  .page-map {
    margin-top: 0;
  }
}
