.page-map {
  position: relative;

  width: 320px;
  min-height: 362px;
  margin: 0 auto;

  background-image: url("../../img/bg-map-mobile@1x.png");
  background-position: 0 -38px;
  background-repeat: no-repeat;

  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background-image: url("../../img/bg-map-mobile@2x.png");
    background-size: cover;
  }

  &::after {
    content: "";

    position: absolute;
    top: 146px;
    left: 132px;

    width: 55px;
    height: 53px;

    background-image: url("../../img/map-pin.png");
    background-size: contain;
    background-repeat: no-repeat;
  }
}

@media (min-width: @tablet-width) {
  .page-map {
    width: 768px;
    min-height: 400px;

    background-image: url("../../img/bg-map-tablet@1x.png");
    background-position: 0 -6px;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../../img/bg-map-tablet@2x.png");
      background-size: cover;
    }

    &::after {
      top: 151px;
      left: 327px;

      width: 113px;
      height: 106px;
    }
  }
}

@media (min-width: @desktop-width) {
  .page-map {
    width: 1440px;

    background-image: url("../../img/bg-map-desktop@1x.png");
    background-position: 0 0;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../../img/bg-map-desktop@2x.png");
      background-size: cover;
    }

    &::after {
      top: 160px;
      left: auto;
      right: 326px;
    }
  }
}
