.selection-program {
  display: flex;
  flex-direction: column;
}

.selection-program__title {
  padding: 0 @mobile-padding;
  padding-top: 15px;
  margin: 0;

  font-size: @text-size--big;
  line-height: @text-height--very-big;
  font-weight: 400;
}

.selection-program__description {
  width: 270px;
  padding: 0 @mobile-padding;
  margin: 0;
  margin-top: 25px;

  text-transform: uppercase;
}

.selection-program__legend sup {
  top: 0;
}

@media (min-width: @tablet-width) {
  .selection-program {
    margin-bottom: 74px;
  }

  .selection-program__title {
    padding: 0 @tablet-padding;
    padding-top: 57px;
    margin: 0;

    font-size: @text-size--very-big;
  }

  .selection-program__description {
    width: 420px;
    padding-left: 70px;
    margin: 0;
    margin-top: 55px;

    font-size: @text-size--medium;
    line-height: 30px;
  }
}

@media (min-width: @desktop-width) {
  .selection-program {
    margin-bottom: 82px;
  }

  .selection-program__title {
    padding: 0;
    padding-top: 76px;
  }

  .selection-program__description {
    width: 400px;
    padding-left: 0;
  }

  .selection-program__wrapper {
    width: 1300px;
    margin: 0 auto;
    padding: 0 @desktop-padding;
  }
}
