.selection-program {
  display: flex;
  flex-direction: column;
}

.selection-program__title {
  padding: 0 @mobile-padding;
  padding-top: 15px;
  margin: 0;

  font-size: @text-size--big;
  line-height: 60px;
  font-weight: 400;
}

.selection-program__description {
  width: 270px;
  padding: 0 @mobile-padding;
  margin: 0;
  margin-top: 25px;

  text-transform: uppercase;
}

.selection-program__legend {
  margin: 0 auto;
  margin-top: 22px;
  margin-bottom: 31px;

  font-family: "Arial", sans-serif;
  font-size: @text-size--small;
  line-height: 16px;
  color: @color-description;
}

.selection-program__legend sup {
  top: 0;
}
