.services {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 552px;
  padding: 0 @mobile-padding;

  margin-bottom: 17px;
}

.services__item {
  position: relative;

  width: 100%;
  min-height: 266px;
  padding: 20px;

  background-color: @color-block--gray;

  &::before {
    content: "";

    position: absolute;
    top: 24px;
    left: 22px;

    width: 50px;
    height: 51px;

    background-color: @color-main;
    border-radius: 50%;
  }

  &--weight-loss::after {
    content: "";

    position: absolute;
    top: 23px;
    left: 30px;

    width: 35px;
    height: 49px;

    background-image: url("../img/icon-cat-slim.svg");
    background-repeat: no-repeat;
  }

  &--weight-down::after {
    content: "";

    position: absolute;
    top: 35px;
    left: 13px;

    width: 67px;
    height: 28px;

    background-image: url("../img/icon-cat-pro.svg");
    background-repeat: no-repeat;
  }
}

.services__title {
  margin: 0;
  margin-left: 71px;
  margin-top: 11px;

  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  font-weight: 400;
}

.services__description {
  padding-bottom: 23px;
  margin: 0;
  margin-top: 29px;

  font-family: "Arial", sans-serif;
  color: @color-description;

  border-bottom: 1px solid #d9d9d9;
}

.services__description br {
  display: none;
}

.services__link {
  position: relative;

  display: block;
  margin-top: 20px;

  text-transform: uppercase;
  font-size: 16px;
  line-height: 16px;
  color: @color-main-text;

  &::after {
    content: "";

    position: absolute;
    left: 97px;
    top: 3px;

    width: 25px;
    height: 12px;

    background-image: url("../img/icon-right-arrow-long.svg");
  }
}

.services__link:hover {
  &::after {
    width: 34px;

    background-image: url("../img/icon-right-arrow-verylong.svg");
  }
}

.services__link:active {
  opacity: 0.3;
}

@media (min-width: @tablet-width) {
  .services {
    min-height: 774px;
    padding: 0 @tablet-padding;
  }

  .services__item {
    display: flex;
    flex-direction: column;
    min-height: 372px;
    padding: 50px;

    &::before {
      top: 92px;
      left: auto;
      right: 62px;

      width: 200px;
      height: 200px;
    }

    &--weight-loss::after {
      top: 81px;
      left: auto;
      right: 91px;

      width: 141px;
      height: 194px;
    }

    &--weight-down::after {
      top: 135px;
      left: auto;
      right: 28px;

      width: 268px;
      height: 113px;
    }
  }

  .services__title {
    margin-top: 27px;
    margin-left: 3px;

    font-size: @text-size--big;
  }

  .services__description {
    width: 62%;
    padding-left: 2px;
    margin-top: 24px;

    font-size: 16px;
    line-height: 24px;

    border-bottom: none;
  }

  .services__description br {
    display: block;
  }

  .services__link {
    padding-left: 2px;
    margin-bottom: 12px;
    margin-top: auto;

    font-size: @text-size--medium;
    line-height: @text-height--medium;

    &::after {
      left: 134px;
      top: 6px;
    }
  }
}

@media (min-width: @desktop-width) {
  .services {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    width: 1300px;
    min-height: 372px;
    padding: 0 @desktop-padding;
    padding-top: 105px;
    margin: 0 auto;
  }

  .services__item {
    width: 570px;

    &--weight-down {
      margin-left: auto;
    }

    &::before {
      top: 45px;
      left: 52px;
      right: auto;

      width: 100px;
      height: 100px;
    }

    &--weight-loss::after {
      top: 39px;
      left: 67px;
      right: auto;

      width: 71px;
      height: 97px;
    }

    &--weight-down::after {
      top: 67px;
      left: 34px;
      right: auto;

      width: 134px;
      height: 57px;
    }
  }

  .services__title {
    margin: 0;
    padding-left: 164px;
    margin-top: 25px;
  }

  .services__description {
    width: 100%;
    padding-top: 49px;
  }

  .services__description br {
    display: none;
  }

  .services__link {
    margin-bottom: 15px;
  }
}
