.site-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.site-list__item a {
  font-family: "Oswald-medium";
  font-size: @text-size--medium;
  line-height: @text-height--medium;
  text-transform: uppercase;
  color: @color-main-text;
}
