.social {
  display: flex;
  flex-direction: row;
  min-height: 62px;
  width: 87.5%;
  padding: 0 70px;
  padding-top: 22px;
  margin: 0 auto;

  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
  list-style: none;
}

.social__link--vkontakte {
  margin-left: 3px;
}

.social__link--instagram {
  margin-left: 37px;
}

.social__link--facebook {
  margin-left: 39px;
}

@media (min-width: @tablet-width) {
  .social {
    margin: 0;
    margin-left: auto;
    border: none;
  }
}
