.social {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 11px 0;
  margin: 0;

  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
  list-style: none;
}

.social__item {
  margin-right: 15px;

  &:last-child {
    margin-right: 0;
  }
}

.social__link {
  display: flex;
  width: 40px;
  height: 40px;

  justify-content: center;
  align-items: center;

  &:hover {
    fill: @color-main;
  }

  &:active {
    fill: @color-main;
    opacity: 0.3;
  }
}

@media (min-width: @tablet-width) {
  .social {
    justify-content: space-between;
    width: 150px;
    padding: 0;
    padding-top: 12px;
    padding-left: 18px;
    margin: 0;
    margin-top: 35px;
    margin-left: auto;

    border: none;
  }

  .social__item {
    width: 26%;
    margin-right: 18px;
  }

  .social__vk-icon {
    width: 30px;
    height: 16px;
    margin-top: 6px;
  }

  .social__inst-icon {
    width: 23px;
    height: 23px;
    margin-top: 3px;
  }

  .social__fb-icon {
    width: 14px;
    height: 28px;
  }
}

@media (min-width: @desktop-width) {
  .social {
    margin-left: 389px;
  }
}
